@{
    ViewData["Title"] = "Forgot password";
}

<head>
    <link rel="stylesheet" href="~/css/ChngPwdStyles.css">
</head>
<form method="post" class="main">
    <label>Input your email:</label>
    <input type="text" name="email" id="mail" placeholder="Input your email"/>
    <input type="submit" value="Send" id="submit"/>
</form>


<div class="error">
    @if (ViewBag.EmailIsNotRegistered == true)
    {
        <label>This email isn't registered</label>
    }
</div>