@{
    @if (ViewBag.Role == "User") {
        Layout = "_Layout_User";
    } else if (ViewBag.Role == "Admin") {
        Layout = "_Layout_Admin";
    } else {
        Layout = "_Layout_Anonymous";
    }
    ViewData["Title"] = "Password changed successfully";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<div class="text-center main">
    <h2 class="display-4">Password changed successfully!</h2>
</div>

