
.inputs input {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Calibri';
    color: white;
    background-color: #009DE0;
    border: #009DE0;
    border-radius: 10px;
}

.data
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;

}

.data input {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Calibri';
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.inputs{
    text-align: center;
}

.databuttons button {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    font-size: 20px;
    font-family: 'Calibri';
    color: white;
    background-color: #009DE0;
    border: #009DE0;
    border-radius: 10px;
}

.data button {
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Calibri';
    color: white;
    background-color: #009DE0;
    border: #009DE0;
    border-radius: 10px;
}

.data label{
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    font-family: Calibri;
    font-weight: bolder;
    margin-top: 20px;
}

table, th, tr {
    border: 3px solid black;
    font-family: Calibri;
    font-size: 18px;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}

.list-group-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    line-height: 100%;
    font-family: Calibri;
    font-weight: bolder;
    margin-top: 50px;

    overflow: auto;
}

.list-group-horizontal ul {
    width: 200px;
    height: 100%;
    list-style: none;
    padding-left: 0;
}

.list-group-horizontal li {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    margin-top:5px;
}

.list-group-horizontal li input {
   margin-top:4px;
   margin-right:2px;
}