@{
    Layout = "_Layout_Admin";
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<div class="main">
    <h2>Welcome @ViewBag.UserName</h2>
    <h3>You have signed in as an administrator!</h3>
</div>