@{
    Layout = "_Layout_Anonymous";
    ViewData["Title"] = "Reset Password";
}

<head>
    <link rel="stylesheet" href="~/css/ChngPwdStyles.css">
</head>
<form method="post" class="main">
    <input type="password" name="newPassword" id="newPassword" placeholder="New password" /><br />
    <input type="password" name="newPasswordConfirm" id="newPasswordConfirm" placeholder="Confirm new password" /><br />
    <input type="submit" value="Change" id="submit"/>
</form>
<div class="error">
    @if (ViewBag.PasswordsDoesntMatch == true)
    {
        <label style="color:#DC3131">Passwords doesn't match</label>
    }
</div>